doctype html
html(lang='ru')
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(charset='utf-8')

    body
        div.float-wrapper
            div.float-row
                div.col There is nothing either good or bad, but thinking makes it so. There is nothing either good or bad, but thinking makes it so. There is nothing either good or bad, but thinking makes it so.
                div.col 2
                div.col 3
                div.col 4
                div.col 5
                div.col 6
                div.col 7
                div.col 8
                div.col 9
                div.col 10

        div.inline-block-wrapper
            div.inline-block-row
                div.col There is nothing either good or bad, but thinking makes it so. There is nothing either good or bad, but thinking makes it so. There is nothing either good or bad, but thinking makes it so.
                div.col 2
                div.col 3
                div.col 4
                div.col 5
                div.col 6
                div.col 7
                div.col 8
                div.col 9
                div.col 10

        div.flex-wrapper
            div.flex-row
                div.col There is nothing either good or bad, but thinking makes it so. There is nothing either good or bad, but thinking makes it so. There is nothing either good or bad, but thinking makes it so.
                div.col 2
                div.col 3
                div.col 4
                div.col 5
                div.col 6
                div.col 7
                div.col 8
                div.col 9
                div.col 10

        div.grid-wrapper
            div.grid-row
                div.col There is nothing either good or bad, but thinking makes it so. There is nothing either good or bad, but thinking makes it so. There is nothing either good or bad, but thinking makes it so.
                div.col 2
                div.col 3
                div.col 4
                div.col 5
                div.col 6
                div.col 7
                div.col 8
                div.col 9
                div.col 10


